:root {
    --main-bg-color: #1e1e1e;
    --light-on-dark: #eee;
    --hyperlink-on-dark: #ccf;

    --dark-on-light: #333;
}

body {
    background-color: var(--main-bg-color);
    color: var(--light-on-dark);
    font-family: sans-serif;
}

h1 {
    margin-top: 80px;
    margin-bottom: 0;
    font-size: 4em;
    font-family: serif;
}

h2 {
    margin-bottom: 80px;
    text-align: center;
}

h2 a {
    color: var(--hyperlink-on-dark);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main > * + * {
    margin-top: 20px;
}

.header {
    display: flex;
    align-items: center;
}

.hint {
    font-size: 0.9em;
    color: #aaa;
}

.header > * + * {
    margin-left: 12px;
}

.signature-controls {
    display: flex;
    flex-direction: column;
}

.signature-controls > * + * {
    margin-top: 2px;
}

#label {
    font-size: 2em;
}

#grid {
    display: grid;
    gap: 5px 5px;
    color: var(--dark-on-light);
    max-width: 95vw;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    border-radius: 5px;
}

.cell--active {
    background-color: #ddd;
    transform: scale(1.1);
}

.cell--secondary {
    background-color: #ffd21f;
}

.cell--intermediate {
    color: #555;
    font-size: 0.8em;
}

#play {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;
    border-radius: 40px;
    font-size: 2em;
    line-height: 80px;
}

.subheader {
    width: 300px;
}

#tempo-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#tempo-label {
    display: inline-block;
    min-width: 85px;
}

.separator {
    margin-top: 40px;
    height: 2px;
    width: 300px;
    background-color: #444;
}

.settings {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 80px;
}

.settings > * + * {
    margin-top: 10px;
}

button {
    font-size: 1em;
}