#grid {
    display: grid;
    gap: 5px 5px;
}

.cell {
    background-color: #eee;
    border-radius: 5px;
    line-height: 50px;
    text-align: center;
}

.cell--active {
    background-color: #ddd;
    transform: scale(1.1);
}

.cell--secondary {
    background-color: #ffd21f;
}